<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CookieServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>AOne</servlet-name>
  	<servlet-class>sahitya.Step2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AOne</servlet-name>
  	<url-pattern>/Aone</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ATwo</servlet-name>
  	<servlet-class>sahitya.Preview</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ATwo</servlet-name>
  	<url-pattern>/Atwo</url-pattern>
  </servlet-mapping>
  	
  <servlet>
  	<servlet-name>AThree</servlet-name>
  	<servlet-class>sahitya.SaveD</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AThree</servlet-name>
  	<url-pattern>/Athree</url-pattern>
  </servlet-mapping>
  
</web-app>